<div class="span6 offset3">
  <p class="fortune">Man behöver inte lära sig allt på en gång.</p>

  <form id="public-form" action="/setpublicflag/<%= h current_user.username %>" method="post">
    <label class="checkbox">
      <input id="public-checkbox" type="checkbox" name="waste" value="1">
      <input id="public-hidden" type="hidden" name="user[public]" value="1">
      Publicera hemsidan?
    </label>
    <p>
      Att publicera hemsidan innebär att du är med i <a href="/users/"> Listan</a>
      över alla deltagare som har en egen hemsida.
    </p>
  </form>

  <% if defined? @files %>
    <p>Dina filer:</p>
    <ul>
      <% @files.each do |file| %>
        <% type = file_type(file) %>
        <li>
          <% if is_editable? type %>
            <a href="/editor/<%= h file %>"><%= h file %></a>
          <% else %>
            <%= h file %>
          <% end %>
          <% if is_viewable? type %>
            <a href="<%= h current_user.file_uri(file) %>"><i class=icon-eye-open></i></a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <a class="btn" href="/upload">Ladda upp fil</a>
    <form id="createfile_form" class="form-inline">
      <input id="createfile_name" type="text" placeholder="Filnamn">
      <button id="createfile_submit" type="submit" class="btn" disabled="disabled" >Skapa fil</button>
    </form>
    <script>

      // Validate the filename before the client is sent to /editor/<filename>
      $('#createfile_form').submit(function create_file() {
        // Use an object and check for hasOwnProperty
        // since it's faster then using an array.
        var validExtensions = {
          jpg:1, jpeg:1, JPG:1, gif:1,
          gif:1, GIF:1,
          png:1, PNG:1, apng:1, APNG:1,
          swf:1, SWF:1,
          html:1, htm:1,
          txt:1,
          css:1,
          js:1
        };
        var basename,
            extension,
            extIndex;
        var filename = String($('#createfile_name').val());

        // Can we find an file extension in the supplied filename?
        extIndex = filename.lastIndexOf('.');
        if (extIndex >= 0) {
          basename = filename.substr(0,extIndex);
          extension = filename.substr(extIndex+1);

        // When no filename is supplied; default to .html
        } else {
          basename = filename;
          extension = 'html';
        }

        // Only allow normal ascii chars in the filename
        if (!filename.match(/^[0-9a-zA-Z\._-]+$/)) {
          alert('du får endast använda a-zA-Z . _ - i filnamnet');
          return false;
        }

        if (!validExtensions.hasOwnProperty(extension)) {
          var validformats = [];
          for (fileend in validExtensions) {
            validformats.push(fileend);
          }
          alert('Tillåtna filnamn: '+validformats.join(", "));
          return false;
        }

        window.location = '/editor/' + [basename, extension].join(".");
        return false;
      });

      // The skapa fil button should only be clickable when there is a filename
      $('#createfile_name').keyup(function() {
        var $me = $(this);
        if ($me.val().length > 4) {
          $('#createfile_submit').removeAttr('disabled');
        } else {
          $('#createfile_submit').attr('disabled','disabled');
        }
      });



      // ---------------------------------------------------------------
      // Handle the public flag checkbox
      // Autosubmit the form on change
      // Set default value / checked from db
      // ---------------------------------------------------------------
      var $publicCheckbox = $('#public-checkbox');
      var $publicHidden   = $('#public-hidden');

      // Set checked / not checked.
      $publicCheckbox.attr('checked',<%= (current_user.public == 1) ? '"checked"' : 'null'%>);

      // Inject value into the hidden.
      $publicHidden.val(<%= (current_user.public == 1) ? '"1"' : '"0"'%>);

      // On ticking the checkbox, change the hidden field and submit the form.
      $publicCheckbox.change(function() {
        var $me = $(this);
        if ($me.is(':checked')) {
          $publicHidden.val('1');
        } else {
          $publicHidden.val('0');
        }
        $('#public-form').submit();
      });
    </script>
  <% end %>
</div>
